.vacations {
    width: 100%;
   justify-content: space-evenly;	
}
 
.filters {
    display: flex;
    background-color: aliceblue;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    .filters {
     flex-wrap:wrap ;
    }
  }


.filters>*{
   
    margin-top: auto;
}
