.singleVacation {
    text-align: center;
    display: inline-block;
    width: 24%;
    min-width:250px;
    margin:2%;
    height: 380px;
    border: 10px transparent groove;
    /* background-color: rgb(240, 248, 255,0.8);	 */
    border-radius: 30px;   
    background-color: rgb(47, 79, 79,0.8);
    color: white;	

    
}

.singleVacation>*{
    text-align: center;
}

@keyframes example {
    from {    background-color: darkslategrey    }
    to {    background-color: rgb(112, 128, 144,0.6)     }
  }
.singleVacation:hover{
    animation-name: example;
    animation-duration: 0.2s;
    background-color:rgb(112, 128, 144,0.6)  
}
.singleVacation>p{
    margin: 0;
}

.singleVacation>img {
    max-height: 40%;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;


}
/* .singleVacation>img:hover {
    left: 25%;
    top:20%;
    width:50%;
    height: unset;
    max-height: 60%;
    position:fixed;
    border-radius: 10px;
    overflow: hidden;

} */

.singleVacation>p{
height: 20pt;
margin-top: 0;
padding-top: 0;
margin-bottom: 30px;
}


.singleVacation>button{
   float: right;
   font-size: x-large   ;
   border: none;
   background-color: transparent;
}

.singleVacation>button:hover {
    background-color: rgb(255, 69, 0,0.4);
    box-shadow: 5px 5px 10px ;
    border-radius: 200px;

}
.singleVacation>h1{
    font-family: cursive ;
    margin-bottom: 0;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .singleVacation {
     width: 80%;
    }
  }
