.addVacation>*>img{
	width: 30%;
} 
	


.addForm{
    background-color: aliceblue;
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    .addForm {
     width:95% ;
    }
  }

  